/*====================================================

NAVBAR

====================================================*/

.navbar{

    position:fixed;

    top:22px;

    left:50%;

    transform:translateX(-50%);

    width:92%;

    max-width:1400px;

    height:92px;

    padding:0 42px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:rgba(255,253,248,.82);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(185,94,132,.08);

    border-radius:70px;

    box-shadow:0 15px 45px rgba(0,0,0,.05);

    transition:.4s ease;

    z-index:999;

}



/*====================

Logo

=====================*/

.logo{

    display:flex;

    align-items:center;

}

.logo img{

    height: 100px;

    width:auto;

    display:block;

    transition:.35s ease;

}

.logo:hover img{

    transform:scale(1.05);

}



/*====================

Navigation

=====================*/

nav{

    display:flex;

    align-items:center;

    gap:14px;

}



nav a{

    font-family:'Outfit',sans-serif;

    font-size:16px;

    font-weight:500;

    color:var(--text);

    padding:12px 20px;

    border-radius:50px;

    transition:var(--transition);

    position:relative;

}



nav a:hover{

    background:#E8EFCF;

    color:var(--rose);

}



nav a.active{

    background:#E8EFCF;

    color:var(--rose);

}



/*====================

Resume Button

=====================*/

.resume-btn{

    font-family:'Outfit',sans-serif;

    font-size:15px;

    font-weight:600;

    padding:14px 30px;

    border-radius:999px;

    border:2px solid var(--citron);

    color:var(--sage);

    background:white;

    transition:var(--transition);

}



.resume-btn:hover{

    background:#E8EFCF;

    color:var(--rose);

    border-color:var(--sage);

    transform:translateY(-3px);

}



/*====================

Navbar Scroll Effect

=====================*/

.navbar.scrolled{

    height:78px;

    top:12px;

    box-shadow:0 18px 40px rgba(0,0,0,.08);

}



.navbar.scrolled .logo img{

    height:64px;

}



/*====================

Navigation Animation

=====================*/

nav a::after{

    content:"";

    position:absolute;

    bottom:8px;

    left:50%;

    transform:translateX(-50%);

    width:0;

    height:2px;

    background:var(--rose);

    transition:.35s;

    border-radius:5px;

}



nav a:hover::after{

    width:45%;

}



nav a.active::after{

    width:45%;

}



/*====================

Responsive Preview

=====================*/

@media(max-width:1200px){

    nav{

        gap:6px;

    }

    nav a{

        padding:10px 16px;

        font-size:15px;

    }

}

.nav-link.active{
    background: var(--hover);
    color: var(--rose);
}